.container {
    width: 100%;
    height: inherit;
    display: block;
    padding-top: 180px;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #4C4CFF;
}

.span {
    color: #8585AD;
}