.container {
    width: 600px;
    height: 100%;
}

.tabs {
    display: flex;
}

.ingredients {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ingredients__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.scroll__container {
    height: calc(100% - 220px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.card {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    height: 208px;
    width: 272px;
}

.card__price {
    display: flex;
    align-items: center;
}

.img {
    width: 240px;
    height: 120px;
}